* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* color: white; */
  transition: background-color 0.5s ease;
}

body.dark {
  color: white;
  background-color: #212529;
}

/* Header */
.header {
  padding: 10px 5%;
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
  gap: 20px;
}

.header input {
  width: clamp(50%, 700px, 70%);
  background-color: inherit;
  border: 1px solid #e0e0e0;
  padding: 11px 10px;
  border-radius: 8px;
  color: inherit;
}

.grid-icon {
  margin-left: auto;
}

.header input:focus {
  outline: none;
}

.shadow {
  cursor: pointer;
  width: 40px;
  height: 40px;
  box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
    inset 7px 7px 3px rgba(209, 217, 230, 0.35),
    inset -11px -11px 3px rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
}

.shadow.dark {
  box-shadow: none;
}

.shadow .btn-mode {
  font-size: 20px;
}

.matching {
  margin: 0 auto;
}

/* Input */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #e0e0e0;
  padding: 15px 15px;
  border-radius: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  width: clamp(40%, 500px, 90%);
  margin-bottom: 50px;
  position: relative;
}

.input-box {
  position: relative;
  border: none;
  height: auto;
}

.placeholder {
  position: absolute;
  top: 0;
  width: 100%;
  background: none;
  z-index: -999;
}

.input-content:focus,
.input-box:focus {
  outline: none;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.add {
  background-color: orange;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* Note */

.note-list {
  width: 100%;
  padding: 50px 5%;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 16px;
}

.grid {
  width: 100%;
  padding: 50px 5%;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(1fr);
  justify-content: center;
  gap: 16px;
}

small {
  align-self: self-start;
  padding: 10px 5%;
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 11px;
}

.note {
  border: 1px solid #e0e0e0;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  /* overflow: hidden; */
  position: relative;
  transition: background 0.3s ease;
}

.note.grid {
  width: clamp(400px, 60vw, 600px);
}

.note-title {
  font-size: 16px;
  font-weight: 600;
  color: inherit;
  word-wrap: break-word;
}

.note-text {
  font-size: 14px;
  color: inherit;
  word-wrap: break-word;
}

.note-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
  opacity: 0;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.note:hover .icon {
  opacity: 1;
}

/* Note-Modal */

.note-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 9999999;
}

.modal {
  background-color: #fff;
  width: 600px;
  height: fit-content;
  border: none;
}

.modal.dark {
  background-color: #000;
}

.btn {
  cursor: pointer;
  background: none;
  border: none;
  font-family: "Google Sans", sans-serif;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  color: inherit;
}

.btn:hover {
  background-color: rgba(95, 99, 104, 0.039);
}

/* Color Box */

.color-box {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 30px);
  gap: 5px;
  width: fit-content;
  padding: 5px;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 999;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}

.color:nth-child(1) {
  border: 1px solid #e0e0e0;
}

.check {
  color: blue;
  background-color: white;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: -3px;
  right: 0;
}
