* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  /* color: white; */
  transition: background-color 0.5s ease;
}

body.dark {
  color: white;
  background-color: #212529;
}

/* Header */
.header {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
  gap: 20px;
}

.header input {
  width: clamp(50%, 700px, 70%);
  background-color: inherit;
  border: 1px solid #e0e0e0;
  padding: 11px 10px;
  border-radius: 8px;
  color: inherit;
}

.header input:focus {
  outline: none;
}

.marleft {
  margin-left: auto;
}

.header-icon {
  width: 35px;
  height: 35px;
  padding: 8px;
}

/* Container */

.container {
  display: flex;
  height: calc(100vh - 60px);
}

/* SideBar */
.sidebar {
  width: 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  transition: 0.3s all linear;
}

a {
  text-decoration: none;
}

.sidebar-icon {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  transition: border-radius 0.2s, background-color 0.5s ease;
}

.sidebar-icon.active {
  background-color: #feefc3;
}
.sidebar-icon.active.dark {
  background-color: #41331c;
}

.sidebar-icon span {
  margin-left: 20px;
  white-space: nowrap;
  font-family: "Google Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.sidebar-icon div svg {
  width: 24px;
  height: 24px;
  display: block;
}

/* Sidebar */

/* Input */
.mainbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 3%;
  flex: 1 1 auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #e0e0e0;
  padding: 15px 15px;
  border-radius: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  width: clamp(40%, 500px, 90%);
  margin-bottom: 50px;
  position: relative;
}

.input-box {
  position: relative;
  border: none;
  height: auto;
}

.placeholder {
  position: absolute;
  top: 0;
  width: 100%;
  background: none;
  z-index: -999;
}

.input-content:focus,
.input-box:focus {
  outline: none;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.add {
  background-color: orange;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* Note */

.note-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.note-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-auto-rows: 10px;
  overflow: hidden;
  justify-content: center;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

small {
  align-self: self-start;
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 11px;
}

.note {
  border: 1px solid #e0e0e0;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  /* overflow: hidden; */
  position: relative;
  transition: background 0.3s ease;
  margin: 5px;
}
.note.extrasmall {
  grid-row-end: span 15;
}
.note.small {
  grid-row-end: span 18;
}
.note.medium {
  grid-row-end: span 21;
}
.note.large {
  grid-row-end: span 24;
}
.note.extralarge {
  grid-row-end: span 27;
}
.note.xxlarge {
  grid-row-end: span 30;
}

.note.grid {
  width: clamp(400px, 60vw, 600px);
}

.note-title {
  font-size: 16px;
  font-weight: 600;
  color: inherit;
  word-wrap: break-word;
}

.note-text {
  font-size: 14px;
  color: inherit;
  word-wrap: break-word;
}

.note-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
  border-radius: 50%;
  color: rgb(102, 102, 102);
}

.note-icon {
  opacity: 0;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(24, 24, 24);
}

.note:hover .icon,
.note:hover .btn {
  opacity: 1;
}

/* Note-Modal */

.note-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 9999999;
}

.modal {
  background-color: #fff;
  width: 600px;
  height: fit-content;
  border: none;
}

.modal.dark {
  background-color: #000;
}

.btn {
  cursor: pointer;
  background: none;
  border: none;
  font-family: "Google Sans", sans-serif;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  color: inherit;
  opacity: 0;
  margin-left: auto;
}

.btn:hover {
  background-color: rgba(95, 99, 104, 0.039);
}

/* Color Box */

.color-box {
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 30px);
  gap: 5px;
  width: fit-content;
  padding: 5px;
  border: 1px solid #e0e0e0;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 999;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}

.color:nth-child(1) {
  border: 1px solid #e0e0e0;
}

.check {
  color: blue;
  background-color: white;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: -3px;
  right: 0;
}

.archive-note {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.archive-note svg {
  width: 120px;
  height: 120px;
  color: #bababa;
}

.archive-note span {
  color: #878787;
  font-size: 1.375rem;
}
